body {
  padding: 0px;
  margin: 0; }

.mainContainer section {
  text-align: center; }
  .mainContainer section.section1 {
    margin: 10px 0; }
    .mainContainer section.section1 #header1 {
      font-size: 20px;
      font-weight: 100;
      letter-spacing: 2px;
      margin: 0; }
    .mainContainer section.section1 span {
      margin: 0; }
.mainContainer #catImage {
  display: block;
  text-align: center; }
.mainContainer p {
  text-align: center;
  color: black; }
  .mainContainer p a, .mainContainer p a:active, .mainContainer p a:visited {
    text-decoration: none;
    color: black;
    padding: 5px;
    margin: 10px 0;
    text-shadow: 0px 3px 2px #8f8f8f; }
  .mainContainer p a:hover {
    color: blue; }

/*# sourceMappingURL=main.css.map */
